allow system_app sysfs_sec_touchkey:dir search;
allow system_app sysfs_sec_touchkey:file { getattr open read };
allow system_app sysfs_input:dir search;
allow system_app sysfs_input:file rw_file_perms;
allow system_app sysfs_input:lnk_file read;
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { getattr read open };
allow system_app proc_pagetypeinfo:file { read open getattr };
allow system_app perfprofd:binder call;
allow system_app wificond:binder call;
#allow system_app storaged:binder call;
