allow toolbox init:fifo_file { write getattr };
allow toolbox property_socket:sock_file write;
allow toolbox init:unix_stream_socket connectto;
allow toolbox bluetooth_prop:property_service set;
allow toolbox bluetooth_prop:file { read open getattr };
allow toolbox ctl_qmuxd_prop:property_service set;
allow toolbox ipacm-diag_prop:property_service set;
allow toolbox ipacm_prop:property_service set;
allow toolbox proc_meminfo:file { read open };
allow toolbox sysfs_lowmemorykiller:dir search;
allow toolbox sysfs_lowmemorykiller:file { read open };
allow toolbox freq_prop:property_service set;
allow toolbox perfd_prop:property_service set;
allow toolbox file_contexts_file:file { read getattr open };
allow toolbox toolbox:capability dac_override;
allow toolbox radio_data_file:dir { write getattr read open };
allow toolbox radio_data_file:dir setattr;
allow toolbox sysfs_devices_system_cpu:dir relabelfrom;
allow toolbox sysfs_devices_system_cpu:file relabelfrom;
allow toolbox sysfs_socinfo:dir relabelto;
allow toolbox sysfs_socinfo:file relabelto;
allow toolbox system_data_file:file write;
allow toolbox kernel:system syslog_mod;
allow toolbox rmnet_mux_prop:file { read open };
allow toolbox system_prop:property_service set;
allow toolbox ctl_start_prop:property_service set;
