allow untrusted_app_25 serialno_prop:file { open getattr read };
allow untrusted_app_25 rootfs:dir read;
allow untrusted_app_25 proc_vmstat:file { open getattr };
allow untrusted_app_25 firmware_file:dir read;
allow untrusted_app_25 sysfs:file { read open };
allow untrusted_app_25 system_app_data_file:dir getattr;
allow untrusted_app_25 tombstone_data_file:dir getattr;
allow untrusted_app_25 adb_data_file:dir getattr;
allow untrusted_app_25 anr_data_file:dir getattr;
allow untrusted_app_25 asec_image_file:dir getattr;
allow untrusted_app_25 apk_private_data_file:dir getattr;
allow untrusted_app_25 backup_data_file:dir getattr;
allow untrusted_app_25 bootchart_data_file:dir getattr;
allow untrusted_app_25 camera_socket:dir getattr;
allow untrusted_app_25 cnd_data_file:dir getattr;
allow untrusted_app_25 rootfs:dir open;
