allow vendor_init proc_kernel_sched:file write;
allow vendor_init radio_data_file:file { write open setattr };
allow vendor_init proc:file write;
allow vendor_init system_data_file:lnk_file unlink;
allow vendor_init system_data_file:lnk_file create;
allow vendor_init system_data_file:file { getattr read open };
allow vendor_init exfat:dir search;
allow vendor_init radio_data_file:file create;
allow vendor_init cache_file:dir search;
allow vendor_init dpmd_data_file:dir create;
allow vendor_init dpmd_data_file:dir write;
allow vendor_init dpmd_data_file:dir setattr;
allow vendor_init dpmd_data_file:dir add_name;
